@import 'style';

.design-container {
  display: flex;
  height: calc(100vh - 40px);
}

.design-form-container {
  flex: 8 1 150px;
  background: #E0C57F;
}

.design-panel-container {
  flex: 2 1 150px;
  background: $primary;
}