@import 'style';
.design-container {

  display: flex;
  height: calc(100vh - 40px);
}

.design-form-container {
  flex: 8 1 150px;
  background: url(/static/img/graph.gif);
}

/* Design Panel Styles */
.design-panel-container {
  flex: 2 1 150px;
  background: $primary;
  color: $secondary;

  h2 {
    text-align: center;
  }

  .panel-item {
    padding: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }

  .panel-item:hover {
    color: $primary;
    background: $secondary;
    transition: 0.15s ease-in-out;
  }

  .panel-menu-button {
    font-size: 1.25rem;
    padding: 20px;
    text-align: center;
  }

  .small-error {
    font-size: 12px;
    font-style: italic;
    display: inline-block;
  }

}


/* Design Form Styles */
@mixin formpanel-format() {
  padding: 5px 0px;
  padding-left: 10px;
  margin: 0% 5%;
  width: 75%;
}

.react-grid-item {
  @include shadow($b: 4px, $s: 0px);
  border: 1px solid $primary;
  background: $secondary;


  .formcontrol-icon svg:hover {
    color: $secondary;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }

  .formcontrol-icon-cancel {
    position: fixed;
    top: 1px;
    right: 1px;
    color: $primary;
    transition: 0.25s ease-in-out;
  }

  .formcontrol-icon-settings {
    position: fixed;
    top: 1px;
    right: 25px;
    color: $primary;
    
    transition: 0.25s ease-in-out;
  }

}

.formpanel-container {
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling related to Input component */
.formpanel-input-container {

  div {
    flex: 1 1 auto;

    input {
      @include formpanel-format();
    }

    select {
      @include formpanel-format();
    }

    input:focus {
      outline: none;
    }
  }

  .input-label-container input {
    font-size: 1.25rem;
    background: none;
    border: none;
  }

  .input-container input {
    font-size: 1rem;
  }

  .input-description-container input {
    font-size: 0.75rem;
    background: none;
    border: none;
  }


}


/* Styling for small input */
.formpanel-small-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-top: 3px;

  .small-input-container {
    max-width: 50px;
    min-width: 20px;
  }

  .small-input-label-container {
    flex: 1 1 100px;
    z-index: 1; /* need to override disabled datetimepickers */
    
    input {
      padding-left: 5px;
      margin-left: -10px;
      width: calc(100% - 45px);
      font-size: 1.15rem;
      background: none;
      border: none;
    }
  }
}

/* styling for formpanel select

/* styling for date and time pickers */

/* Styling for small input */
.datetimepicker-input {  
  width: 0px;
}

/* Styling for formpanel buttons  */
.formpanel-button-container {
  height: 100%;
  .formcontrol-icon {
    margin-right: 5px;
  }
  .formpanel-button {
    width: 100%;
    height: 100%;
  }
}

/* Design Panel Settings */
.panel-settings-container {
  @include shadow($b: 10px, $s: 0px, $color: black);
  z-index: 2;
  position: fixed;
  height: 330px;
  width: 200px;
  background: black;
  border-radius: 3px;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: middle;

  h4 {
    text-align: center;
    margin: 0px !important;
  }

  textarea {
    resize: none;
    height: 100px;
    padding: 5px;
    margin: 2px 5px 5px 5px;
  }

  .panel-settings-row {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    line-height: 33px;
    padding: 0px 5px;

    .panel-settings-label {
      flex: 1 1 30%;
    }

    .panel-settings-input {
      flex: 1 1 auto;
      max-width: 70%;
    }

    input[type='text'] { 
      padding: 2px;
      margin: 5px;
      height: 15px;
      width: 85%;
    }
    input[type='checkbox'] { 
      padding: 2px;
      margin: 5px;
      height: 15px;
      margin: 5px;
    }

  }
}