@import 'style';

/* Design Panel Styles */
.design-panel-container {

  h3 {
    text-align: center;
  }


  color: $secondary;
}


/* Design Form Styles */
.react-grid-item {
  border: 1px solid #999;
}

.formpanel-container {
  user-select: none;

  display: flex;
  flex-direction: column;
}

.formpanel-input-label {
  flex: 1 1 auto;
  padding: 5px;
  margin: 0% 5%;
  font-size: 1.5rem;
}

.formpanel-intput-container {
  flex: 1 1 auto;
}

.formpanel-input-container input {
  margin: 0% 5%;
  width: 90%;
  user-select: none;
}

/* Actual input field for specified inputs */
.formpanel-input {
  border: none;
  width: 90%;
  background: none;
}

.formpanel-input-description {
  font-size: 0.75rem;
  margin: 0% 5%;
  padding: 5px;
}