@import 'style';
.design-container {

  display: flex;
  height: calc(100vh - 40px);
}

.design-form-container {
  flex: 8 1 150px;
  background: url(/static/img/graph.gif);
}

/* Design Panel Styles */
.design-panel-container {
  flex: 2 1 150px;
  background: $primary;
  color: $secondary;

  h2 {
    text-align: center;
  }

  .panel-item {
    padding: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }

  .panel-item:hover {
    color: $primary;
    background: $secondary;
    transition: 0.15s ease-in-out;
  }

  #design-panel-clear {
    font-size: 1.25rem;
    padding: 20px;
    text-align: center;
  }

}


/* Design Form Styles */
@mixin formpanel-format() {
  padding: 5px 0px;
  padding-left: 10px;
  margin: 0% 5%;
  width: 85%;
}

.react-grid-item {
  @include shadow($b: 1px, $s: 0px);
  border: 1px solid $primary;
  background: $secondary;


  .formcontrol-icon svg:hover {
    color: $secondary;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }

  .formcontrol-icon-cancel {
    position: fixed;
    top: 1px;
    right: 1px;
    color: $primary;
    transition: 0.25s ease-in-out;
  }

  .formcontrol-icon-settings {
    position: fixed;
    top: 1px;
    right: 25px;
    color: $primary;
    
    transition: 0.25s ease-in-out;
  }

}

.formpanel-container {
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling related to Input component */
.formpanel-input-container {

  margin-top: 10px;

  div {
    flex: 1 1 auto;

    input {
      @include formpanel-format();
    }
  }

  .input-label-container input {
    font-size: 1.5rem;
    background: none;
    border: none;
  }

  .input-container input {
    font-size: 1rem;
  }
  .input-description-container input {
    font-size: 0.75rem;
    background: none;
    border: none;
  }


}