@import 'style';

/* Design Panel Styles */
.design-panel-container {
    color: $secondary;

  h2 {
    text-align: center;
  }

  .panel-item {
    padding: 10px;
    font-size: 1.15rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
  }

  .panel-item:hover {
    color: $primary;
    background: $secondary;
    transition: 0.15s ease-in-out;
  }

  #design-panel-clear {
    font-size: 1.25rem;
    padding: 20px;
    text-align: center;
  }

}


/* Design Form Styles */
.react-grid-item {
  border: 1px solid #999;
}

.formpanel-container {
  user-select: none;

  display: flex;
  flex-direction: column;
}

.formpanel-input-label {
  flex: 1 1 auto;
  padding: 5px;
  margin: 0% 5%;
  font-size: 1.5rem;
}

.formpanel-intput-container {
  flex: 1 1 auto;
}

.formpanel-input-container input {
  margin: 0% 5%;
  width: 90%;
  user-select: none;
}

/* Actual input field for specified inputs */
.formpanel-input {
  border: none;
  width: 90%;
  background: none;
}

.formpanel-input-description {
  font-size: 0.75rem;
  margin: 0% 5%;
  padding: 5px;
}