@import 'style';

.formpanel-container {
  user-select: none;

  display: flex;
  flex-direction: column;
}

.formpanel-label-container {
  flex: 1 1 auto;
  padding: 5px;
  margin: 0% 5%;
  font-size: 1.5rem;
}

.formpanel-intput-container {
  flex: 1 1 auto;
}

.formpanel-input-container input {
  margin: 0% 5%;
  width: 90%;
  user-select: none;
}

/* Actual input field for specified inputs */
.formpanel-input {
  border: none;
  width: 90%;
}

.formpanel-description-container {
  font-size: 0.75rem;
  margin: 0% 5%;
  padding: 5px;
}