#form-render-container {
  position: relative;
}

.rendered-panel {
    border: 1px solid black;
    padding: 5px;
    background: white;
    position: absolute;;
    margin: 5px;
    
    h3 {
      margin-left: 10%;
    }
}



.rendered-button {
  
  button {
    margin-left: -5px;
    margin-top: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
  }

}
