.login__container {
  display: flex !important;
  flex-direction: column;

  .login__basic-auth-container {
    flex: 1 1 auto;
  }

  .login__button-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .login__confirm-container {
      padding: 10px;
    }

    .login__deny-container {
      padding: 10px;
    }
  }
}

.login__show-register {
  
  h5 {
    margin: 5px 0px;
  }

  .register-button {
    margin-bottom: 10px;
  }
}