@import 'style';

.modal-page-container {
  z-index: 9;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #000;
  opacity: 0.4;
}

.modal-container {
  @include shadow($b: 40px, $s: 0px, $color: $tertiary);
  background: $secondary;
  color: $tertiary !important;
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  left: calc(50% - 175px);
  top: 25%;
  width: 350px;
  opacity: 1 !important;
  border-radius: 3px;

  .header-container {
    background: $primary;
    color: $secondary;
    padding: 10px;
    flex: 1 1 auto;
    font-size: 1.5rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .message-container {
    padding: 10px 15px;
    flex: 1 1 auto;
    font-size: 1rem;
  }

  .response-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding: 10px;

    .modal-button {
      width: 100px;
      height: 40px;
      font-size: 1.25rem;
      margin: 20px 5px 5px 5px;
      cursor: pointer;
    }
  }
}

