@import 'style';

.navbar-container {
  height: 40px;
  background-color: $primary;
  color: $secondary;

  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar-button {
  cursor: pointer;
}

#navbar-icon-container {
  flex: 1 1 100px;
  max-width: 150px;
}

#navbar-title-container {
  flex: 8 1 150px;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 25px;
}

#navbar-settings-container {
  flex: 1 1 100px;
  max-width: 100px;
  text-align: center;
}

#navbar-profile-container {
  flex: 1 1 100px;
  max-width: 100px;
  text-align: center;
}