@import '/node_modules/react-grid-layout/css/styles.css';
@import '/node_modules/react-resizable/css/styles.css';

$primary: #00372C;
$secondary: whitesmoke;
$tertiary: #333;

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

@mixin shadow($h: 0px, $v: 0px, $b: 3px, $s: 3px, $color: $primary) {
  -webkit-box-shadow: $h $v $b $s $color;
  -moz-box-shadow:    $h $v $b $s $color;
  box-shadow:         $h $v $b $s $color;
}
